.wrapper {
  width: 100%;
}

header {
  width: 100%;
  height: 55px;
  background-color: #332e2e;
}

h1 {
  color: #ffffff;
  text-align: center;
  padding: 10px;
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vh - 157px);
}

.preloader {
  background: url('../src/picture/preloader.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
  display: none;
}

.preloader.active {
  display: block;
}

form {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}

input {
  width: 70%;
}

.response {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin: 10px 0;
}

.swiper {
  position: relative;
  margin-top: 20px;
}

.swiper-container {
  width: 90%;
  height: 450px;
}

.swiper-slide {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

.card {
  width: 180px;
}

.card-name {
  font-weight: 700;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

.card-poster {
  height: 250px;
  background-image: url('../src/picture/poster.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.card-poster:hover {
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}

.card-year, .card-raiting {
  margin: 5px;
  text-align: center;
}

footer {
  width: 100%;
  height: 55px;
  background-color: #332e2e;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.footer-text {
  font-size: medium;
  color: #ffffff;
  font-weight: 700;
  padding: 5px;
}
